@use "./mixins" as *;

// VG-krav: @each
$status-colors: (
  success: green,
  warning: orange,
  danger: red,
);

@each $name, $color in $status-colors {
  .text-#{$name} {
    color: $color;
  }
}

.container {
  padding: 24px;
}

.home {
  @include card;
}

.details {
  @include card;

  img {
    max-width: 400px;
    margin-bottom: 20px;
  }
}

// Responsiv design
@media (max-width: 900px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .products-grid {
    grid-template-columns: 1fr;
  }

  .navbar {
    flex-direction: column;
    gap: 10px;
  }
}